.header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100px;
}

.logout {
    background-color: #9c0000;
    color: white;
    margin: 10px;
}
.login, .signup {
    background-color: #118b11;
    margin: 10px;
}